@font-face {
	font-family: dead-saloon;
	src: url("../assets/fonts/DeadSaloon-Mod.ttf") format("truetype");
}
@font-face {
	font-family: western-bullets;
	src: url("../assets/fonts/WesternBulletsWF_0.otf") format("opentype");
}


@font-face {
	font-family: "Book Antiqua";
	src: url("../assets/fonts/BKANT_0.TTF") format("truetype");
}
@font-face {
	font-family: "Book Antiqua";
	src: url("../assets/fonts/ANTQUAB_0.TTF") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Book Antiqua";
	src: url("../assets/fonts/ANTQUAI.TTF") format("truetype");
	font-style: italic;
}
@font-face {
	font-family: "Book Antiqua";
	src: url("../assets/fonts/ANTQUABI.TTF") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Western Bang Bang";
	src: url("../assets/fonts/Western\ Bang\ Bang.otf") format("opentype");
}

@font-face {
	font-family: Jacques;
	src: url("../assets/fonts/Jacques_Regular.ttf") format("truetype");
}

@font-face {
	font-family: "ChickenScratch";
	src: url("../assets/fonts/ChickScrAOE.ttf") format("truetype");
}